---
/*
const header= Astro.props.header;
const text= Astro.props.text;
*/
const{header}= Astro.props;

---


<article>
				<h2>{header}</h2>
                <p>Kortere Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem corrupti alias reprehenderit similique neque quis ipsam velit, eos nemo maxime praesentium harum ex, deleniti rerum aspernatur enim itaque, sint beatae.</p>
                <slot/>

			</article>

            <style></style>